{{ define "transaction_history" }}
{{ template "header" }}

<body class="text-center" cz-shortcut-listen="true">
    <main class="form-signin w-100 m-auto">
      <form action="/show_transaction/" method="post">
        <h1 class="h3 mb-3 fw-normal">Вывести историю платежей</h1>
        <p>Введите Ваш id или email</p>
        <div class="form-floating">
            <input type="id_user" class="form-control" name="id_user" id="id_user" placeholder="10083652">
            <label for="floatingInput">Ваш id</label>
          </div>
        <br>
        <div class="form-floating">
          <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
          <label for="floatingEmail">Ваш E-mail</label>
        </div>

        <br><button class="w-100 btn btn-lg btn-primary" type="submit" ><a href="/show_transaction"></a>Посмотреть</button><br><br>
        <p class="mt-5 mb-3 text-muted">©CONSTANTA  2016–2022</p>
      </form>
    </main>
</body>
{{ end }}
